*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
body{
    height: 100vh;
    display: flex;
    padding: 100px;
    justify-content: center;
     background-image: url('../image/background.jpg'); 
     background-repeat: no-repeat;
  
    background-size: 100%;
}
.menu ul li{
    list-style: none;
    display:inline-block;
    margin: 0px 20px;
}
.menu ul li a{
    font-size: 28px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s all;
    
}
.menu ul li a:hover{
    color: yellow;
    text-shadow: 2px 2px 3px rgba(128, 128, 128, 0.658);

}
.hover-line::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: yellow;
    
    transition: width .3s;

}
.hover-line:hover::after{
    width: 100%;
    height: 2px;
    
    transition: width .3s;
    

}


